@import '/node_modules/normalize.css/normalize.css';

@import 'modules/variables';
@import 'modules/base';

.card-body {
  background-color: #FFEBCD;
}

@media only screen and (max-width: 600px) {
  .card-body {
    background-color: #FFE4E1;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .card-body {
    background-color: #E6E6FA;
  }
}